body{
  background: url("../img/skyscrapers.jpg");
}

.wrapper{
  display: inline-block;
  float: left;
}

.wrapper.one{
  width:30%;
  margin: 0% 0% 0% 10%;
}

.wrapper.two{
  width: 40%;
}

.inner.two{
  width: 100%;
  height: 100px;
  background: rgb(167, 134, 228);
  color: black;
  text-align: center;
  padding: 0;
  border: 2px dotted black;
}

.inner.three{
  width: 100%;
  color: white;
  background: rgb(30, 35, 36);
  padding: 2%;
  margin: 5% 0% 0% 0%;

}

#container{
  clear: both;
  background: grey;
  margin: 10% 0% 0% 10%;
}

h1{
  font-family: 'Creepster', cursive;
  font-size: 65px;
  color: rgb(147, 27, 241);
}

.before{
  font-family: 'Lato', sans-serif;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

.alert.one{
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 40px;
  font-size: 25px;
  text-align: left;
  padding: 2%;
}

.alert.two{
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 40px;
  font-size: 25px;
  text-align: left;
  padding: 2%;
}

.finish{
  color: red;
  animation: blinker 1s linear infinite;
}

h3{
  font-family: 'Lato', sans-serif;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: white;
}

.aim{
  font-size:18px;
  font-weight: bold;
}

.cell{
  width: 30px;
  height: 30px;
  float: left;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
}

.cell:hover{
  background: rgb(147, 27, 241);
}

.revealed-cell{
  background: rgb(245, 104, 239);
}

#easy, #hard {
  width: 100px;
  height: 50px;
  font-size: 14px;
  margin-left: 0;
  margin-right: 5%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
}

#reset {
  width: 100px;
  height: 50px;
  font-size: 14px;
  margin-left: 0;
  margin-right: 5%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  background: rgb(246, 75, 12);
}

.bomb{
  background: url("../img/bomb.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.flag{
  background: url("../img/flag.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.flag:hover{
  background: url("../img/flag.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
