#container{
  /*width: 600px;
  height: 600px;*/
  background: grey;
}

.cell{
  width: 30px;
  height: 30px;
  float: left;
  border: 1px solid black;
  cursor: pointer;
}

.cell:hover{
  background: rgb(147, 27, 241);
}

#easy, #hard, #reset{
  width: 100px;
  height: 50px;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.bomb{
  background: url("../img/bomb.png");
  background-size: contain;
  background-repeat: no-repeat;
}
